.dia{
    padding: 8px 16px;
    /* border: solid salmon; */
    background-color: var(--bg-color);
}


.dia__titulo{
    font-size: 16px;
    line-height: 26px;
    line-height: 160%;
    font-weight: Bold;
    color: var(--preto-fonte);
    
}